<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Pan Tadeu sz - Table of Contents</title>
</head>

<body>
    <section>
        <h1>Table of Contents</h1>
        <ul>
            <li><a href="./">Main page</a></li>
            {% for book in range(1,13) %}
                <li><a href="./k{{book}}">Book {{book}}</a></li>

            {% endfor %}
        </ul>
    </section>
    <section>
        {% block content %}
        <p>Layout page content. </p>
        {% endblock %}
    </section>
    <footer>
        <p>Daria Tugai, Krakow University of Economics</p>
    </footer>
</body>

</html>